{% extends 'base.html' %}

{% block title %}

Add new Lecture Hall

{% endblock %}

{% block content %}

<form method="post" action="">
    {% csrf_token %}

    <label>
        Name:
        <input name="name" type="text">
    </label>
    <label>
        Capacity:
        <input name="capacity" type="number" min="1">
    </label>
    <label>
        Is there a projector:
        <input type="checkbox" name="projector">
    </label>
    <input type="submit" value="Add!">

</form>

{% endblock %}