{% extends 'base.html' %}

{% block title %}

Add new Reservation

{% endblock %}

{% block content %}

<form method="post" action="">
    {% csrf_token %}

    <label>
        Lecture Hall:
        <select name="hall">
            {% for hall in halls %}
            <option>{{ hall.name }}</option>
            {% endfor %}
        </select>
    </label>
    <label>
        date:
        <input name="date" type="date" required>
    </label>
    </br>
    <label>
        Comment:
        <textarea name="comment"></textarea>
    </label></br>
    <input type="submit" value="Reserve!">

</form>

{% endblock %}